html{
	height: 100%;
}

body{
	/*Backgound Image is added in via jQuery depending on the weather in your location*/
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

/*Information box*/
.currentWeather{
	margin-top: 50px;
	padding-bottom: 20px;
	
	/*background: rgba(47, 146, 87, 0.65);*/
	/*border-radius: 0px;*/
	width: 80%;
	height :auto;
}

/*Float the button group into the right corner*/
.btn-group{
	float:right;
}

/*Temperature Buttons*/
.btn.temp-btn{
	border-radius: 0px;
	background-color: #fff;
	border-color: #426FC5;
	color: #426FC5;
	width:50%;/*Each button takes up 50% of the button group*/
	font-size: 10px;
}

/*The button hover*/
.btn.temp-btn:hover{
	background-color: #9fb9ea;
	border-color: #426FC5;
	color:#fff;
}

/*Used to take away the highlight on a button that is in focus*/
.btn.temp-btn:focus{
	outline: none; 
}

/*The active button*/
.btn.temp-btn.active{
	background-color: #426FC5;
	border-color: #426FC5;
	color: #fff;
}

/*Class to remove the left and rigth padding from the temp buttons so they can sit in the top corner*/
#no-padding{
	padding-left: 0;
	padding-right: 0;
	padding-top:0;
}

/*Temperature*/
.temperature{
	font-size: 20px;
}

.unit{
	font-size: 15px;
}

/*Location*/
.location-container{
	padding-top: 10px;
	font-size: 15px;
}
.fa-map-marker{
	padding-right: 10px;
}

/*Weather*/
.weather-container{
	padding-top: 15px;
	padding-bottom: 5px;
	height:100px;
	font-size: 35px;
}

.weather-style{
	padding-left: 15px;
	border-left: 1px solid #000;
}

/*The Table the contains additional information*/
.parameter-container{
	width:100%;
	margin:0 auto;
	padding-bottom:10px;
}

/*Lables of the table*/
thead td{
  font-size:16px;
  font-weight:700;
  background: #28518c;
  color:#fff;
  padding:10px;
  border-top:1px solid #858d99;
}

/*Every other cell of the table*/
tbody tr td {
  font-family: 'Open Sans', sans-serif;
  font-weight:400;
  font-size:15px;
  padding:5px 5px 5px 5px;
}

/*Getting the different color for each row*/
tr.odd{
	background: #f0f3f5;
	color: #5f6062;
}

tr.even{
	background: #8da8de;
	color: #f0f3f5;
}


/*For screens largers than 650px*/
@media (min-width: 500px){
	.temperature{
		font-size: 25px;
	}
	.unit{
		font-size: 25px;
	}

	.location-container{
		font-size: 25px;
	}
	.weather-container{
		font-size: 30px;
	}
}