body{
	width:100%;
}

/*******Nav-Bar Section*******/
.navbar{
	font-family: 'Lato', sans-serif;
	background-color: #554757;
	border-color: rgba(43, 43, 56, 0.8);
	/*min-height: 50px;*/ /* Was needed to stop nav bar getting slightly smaller on scroll*/
}

.navbar-default .navbar-brand {
	color: #fff;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
	color: #fff;
	background-color: #6f6072
}

.navbar-default .navbar-collapse{
    border-color: #554757;/*Border between extended hamburger and top nav bar*/
    background-color: #554757;/*The part at the bottom and top of the extendend hamburger*/
}

/* Every other link in the hamburger*/
.navbar-default .navbar-nav > li > a{
	font-size: 16px;  
	color:#fff;
	background-color: #554757;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
	color:#eee;
	background-color: #6f6072;
}

/*Background of the hamburger icon*/
.navbar-toggle{
	background-color: #989799
}

/*Background of the hamburger icon while hovering*/
.navbar-default .navbar-toggle:hover {
    background-color: #b6afbe;
}

/*Border Around the hamburger*/
.navbar-default .navbar-toggle {
    border-color: #7f6a97;
}

/*Lines in the middle of the hamburger*/
.navbar-default .navbar-toggle .icon-bar {
    background-color: #7f6a97;
}

/*******Splash Screen Section*******/
.header{
	position: relative;
	height: 100vh;	/*CSS3 gives us viewport-relative units. 100vw means 100% of the viewport width.*/
	background: url(https://images.unsplash.com/photo-1486020921558-2ec858ae2815?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=);
	background-size: cover;
	background-position: bottom center; /* When the screen is resized it focuses on this position*/
}
.header-text{
	background: rgba(0, 0, 0, 0.38);
	border-radius: 20px;
	color: white;
	left:15%; 
	width:70%;
	height:auto;
	top:25%; /*Center vertically*/
	position:absolute;
	font-family: 'Roboto Condensed',sans-serif; 
}
.header-text h1{
	font-weight: 700;
	font-size: 50px;
}
.header-text p{
	font-size: 18px;
}
hr.header-line{
	margin: 0 auto;
    height: 12px;
    max-width: 200px;
    border-top: 1px solid #7a34a6;
    box-shadow: inset 0 12px 14px -12px #409/*rgba(0, 0, 0, 0.5);*/
}
.contact-btn{
	margin-top: 80px;
	margin-bottom: 30px;
	width: 200px;
	height: 80px;
	border-radius: 30px;
	background-color: #409;
    border-color: #4a2370;
}
.btn.contact-btn:hover{
	background-color: #664b87;
	border-color: #4a2370;
}

/*The horizontal line in sections*/
hr.section-line{
    height: 12px;
    margin: 0;
    max-width: 120px;
    border-top: 1px solid #000;
    box-shadow: inset 0 12px 14px -12px #409/*rgba(0, 0, 0, 0.5);*/
}

/*******About Section*******/
#about{
	padding-top: 40px;
	height: auto;
	background: #ddd;
}
.about-heading{
	padding-left: 15px;
	padding-bottom: 20px;
	font-family: 'Lato', sans-serif;
}
.about-heading h2{
	font-size: 40px;
}
.user-picture.img-responsive{
	margin: 0 auto;
	max-width: 350px;
	max-height: 300px;
	border-radius: 50px ;
	border: 5px #409 solid;	
}
.about-text{
	padding-top: 50px;
	padding-bottom: 50px;
	margin: 0 auto;
	max-width: 768px;
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: 0.07em;
	font-size: 16px;
}

/*******Portfolio Section*******/
#portfolio{
	padding-top: 50px;
	padding-bottom: 30px;
	background:#333;
	display:block;
}
.portfolio-heading{
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 30px;
	font-family: 'Lato', sans-serif;
	color: #ddd;
}
.portfolio-heading h2{
	font-size: 40px;
}
.portfolio-heading hr.section-line{
	max-width: 160px; 
}
.portfolio-heading .portfolio-description{
	margin: 30px auto;
	max-width: 768px;
	font-size: 23px;
}
.projects{
	padding: 15px;
}
.image-wrap {
  display: inline-block;
  max-width: 100%;
  position: relative;  
}

/*Styling the project cards but settign the opacity to 0*/
.image-wrap .tint {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  color:white;
  background: rgba(68, 0, 153, 0.77);
  border-radius: 10px;
  opacity: 0;
  transition:opacity .5s ease;
}

/*hover sets the opacity to 1*/
.image-wrap:hover .tint {
  opacity: 1;
}
/*The images and descriptions*/
.image-wrap .img-responsive{ 
	max-width: 100%
	height: auto;
	border-radius: 10px;
}
.image-heading{
	width: 100%;
    position: absolute;
    margin-top: 50px;
}
.image-description{
	width: 100%;
    position: absolute;
    margin-top: 100px;
    padding: 10px;
}

/*******Contact Section*******/
#contact{
	height: auto;
	padding-top: 40px;
}
.contact-heading{
	padding-left: 15px;
}
.contact-heading hr.section-line{
	max-width: 145px; 
}
.contact-heading h2{
	font-size: 40px;
}
.fa.my-fa{
	font-size:150px;
	padding-bottom: 20px;
}
/*Bootstrap has links set to blue*/
a .my-fa{
	color: #333;
}
a .my-fa:hover{
	color: #409
}
/*For screen larger than mobile users!*/
@media (min-width: 768px){
	.header-text p{
		font-size: 30px;
	}
	.about-text{
		font-size: 22px;
	}
}